/*Body*/
body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #ffffff;
  background-color: #333333;
}

/*Horizantal line*/
.parent__hr {
  margin: 4rem 0;
  opacity: 0.5;
}

/*Top section grid*/
.parent__top {
  display: grid;
  margin: 4rem;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

/*Button*/
.parent__title button {
  margin-top: 1rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 15px 32px;
  font-size: 1.15em;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 35px;
}

/*Button when hover*/
.parent__title button:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.5s;
}

/*Paragraph 1*/
.parent__title h2 {
  font-weight: 600;
}

/*Paragraph 2*/
.parent__authorTarget {
  margin-top: 1rem;
  font-size: 1.15em;
}

/*Quote generated*/
.parent__quoteTarget {
  font-family: Georgia, serif;
  font-size: 3.5em;
}

/*Quote generated author*/
.parent__historyTarget {
  color: #7a7a7a;
  line-height: 2em;
}

.parent__history--dropdown {
  margin-top: 4rem;
}

/*Clear history button*/
.parent__clear {
  margin-top: 6rem;
  cursor: pointer;
  margin-right: auto;
}

.parent__button[disabled] {
  color: #5a5a5a;
  background-color: #252525;
}

.parent__button[disabled]:hover {
  color: #5a5a5a;
  background-color: #252525;
}

.hidden {
  display: none;
}

@keyframes anim-loading {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  50% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@keyframes anim-repeat-top {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  50% {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}
